body {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: aliceblue;
}

a {
  text-decoration: none;
  color: black;
  border-radius: 3%;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.search-button {
  background-color: transparent;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}

#image-count {
  display: none;
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.search-form input[type='text'] {
  width: 100%;
  margin: 10px;
  border: none;
  border-bottom: 1px solid #20b2aa;
  font-size: 16px;
  outline: none;
}

.gallery {
  margin-right: 20px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 10px;
}

.info p {
  padding: 0 15px;
}

.info b {
  padding: 0 10px;
}

.load-more {
  display: flex;
  align-items: center;
  width: 100vw;
  background-color: #20b2aa;
  color: aliceblue;
  padding: 10px;
  font-size: 16px;
  border-radius: 3%;
  cursor: pointer;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  right: 20px;
}

.load-more {
  display: none;
}
